/* temp background forever*/
body{
	background-color: black !important;
}
.bg-img{
  width:100%;
  margin-top:4em;
 }
.news-contain{
	display: flex;
    margin-top: 8em;
    width: 97%;
}
.twitter-div{
    flex: 1;
    padding: 3em;
    margin-top: -4em;
    display: flex;
    flex-direction: column;
}
.news-row{
    display: flex;
    height: 25em;
    width: 100%;
    color: white;
}
.news-row > p{
	font-size: 2em;
	text-align: center;
}

#logoDiv{
    margin-bottom: 1em;
    box-shadow: 0 0 20px #ffcc00;
    height: 30em;
    width: 100%;
}
#logoDiv > img {
	width: 100%;
    height: inherit;
}
.main-news{
    flex: 4;
    display: flex;
    flex-direction: column;
    width: 80%;
    
    margin-bottom: 2em;
}
.news1{
    margin: 1.5em 1.5em 1.5em 3em;
    display: flex;
    flex: 1;
    background-image: url("../images/newsBG.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: margin .5s;
    transition: margin .5s, flex .5s;
}
.news1 > a {
	height: 100%;
	width: 100%;
}
.news1:hover{
    margin: 0 0 0 0;
    flex: 1.125;
}
.news2{
    margin: 1.5em 3em 1.5em 1.5em;
    display: flex;
    flex: 1;
    background-image: url("../images/newsBG.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: margin .5s;
    transition: margin .5s, flex .5s;
}
.news2 > a {
	height: 100%;
	width: 100%;
}
.news2:hover{
    margin: 0 0 0 0;
    flex: 1.125;
}
.body{
	width: 90%;
	margin: 0 auto;
}
.body2{
	margin: 0 auto;
}
.quizContain{
	width:500px;
	height:500px;
	background-color: black;
}
.myQuiz{
	height:600px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.item > p {
	width: 70%;
	margin: auto;
	background-color: black;
	height: 345px;
}
.answer:hover{
	background-color: #d9d9d9;
	color: black;
	cursor: pointer;
}
.answer{
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    padding: 10px;
    display: inline-block;
    font-size: 1.1em;
    width: 90%;
    text-align: center;
    position: relative;
    margin: 0em 1em 1em 0em;
}
.selected{
	background-color: #d9d9d9;
	color: black;
}
.notEnabled{
	visibility: hidden;
}
.myButton{
	display:flex;
	justify-content: center;
	opacity: 0;
	margin-top: -4.5em;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* from original */
#navMenu{
	background-color:#ffcc00;
	color:white;
	padding-top:.2em;
	padding-bottom:.2em;
	font-style:Sansation;

  }
  .nav > li{
	font-size:14pt;
  }
#header{
  margin-top:-10%;
}
.aboutUs{
    background: rgba(255, 255, 255, 0.25);
    border:none;
    text-align:center;
  }
  #hcHead{
  text-align:center;
  font-size:60pt;
  color: #ffea00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-style: Sansation;
  }
  /* roster */
 
.imgSelect{
  max-height: 100px;
  max-width: 100px;
  opacity: .6;
  display:inline-block;
  border: .25em solid #ffcc00;
  margin-bottom: .1em;
  transition: max-width .5s, max-height .5s;
}
.imgSelect:hover{
    opacity: 1.0;
    cursor: pointer;
    max-height: 120px;
    max-width: 120px;
  }
.imgSelect2{
    width: 27em;
    height: 8em;
    transition: width .5s, height .5s;
}
.imgSelect2:hover{
    height: 9em;
    width: 30em;
    cursor: pointer;
}
.mainBio{
    width: 100%;
}
#content{
  padding:1em;
  font-size:16pt;
}
.linkage{
  text-align:center;
  flex-grow: 1;
}
.linkage > h2{
	font-size: 11pt;
}
.linkage > a{
	font-size: 26pt;
	color: #ffcc00;
}
.linkage > a:hover{
	text-decoration: none;
	color: #d2d0d1;
}
.transbox > p{
	padding: 1em;
}
.smallBio{
  text-align:center;
  }
  .picCenter{
    display: flex;
    justify-content: center;  
  }
  .playerBox{
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
    height: 20em;
  }
   .contentBox{
    display: flex;
    justify-content: center;
  }
.displayBox{
  margin-bottom: 2em;
  margin-top: 2em;

}
.playerSelect{
	display: flex;
    justify-content: space-around;
}
#circle-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}
#bio{
    display: flex;
    flex-direction: column;
    border: 1px solid #999;    
    color: white;
}
.bio-div{
	display: flex;
	flex-direction: row;
}
.bio-p{
	width: 50%;
    padding: 1.2em;
	flex-grow: 1;
}
.links-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-grow: 1;
}
/* team news */
#news {
	margin-top:.5em;
    color: white;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
    text-align:center;
    font-size:80pt;
	font-family: 'Droid serif', serif; 
	font-weight: 400; 
	font-style: italic; 
	line-height: 44px; 
}
#videoContainer{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-bottom:10em;
	padding-left:10%;
	padding-right: 10%
}
#clipOfTheWeek{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:95%;
	margin-top:3em;
	
	}
.header2{
	margin-top:.5em;
    color: white;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
    text-align:center;
    font-size:60pt;
	font-family: 'Droid serif', serif; 
	font-weight: 400; 
	font-style: italic; 
	line-height: 44px; 
}
#announcement{
	background-color:black;
	text-align: center;
	color: #ffea00;
	font-size:16pt;
	}
.giveMePointer:hover{
	cursor:pointer;
	
}
.giveMePointer{
	color: #ffea00 !important;
	font-size:22pt !important;
	background-color:black;
}
#accordionWrapper{
	margin-top:7em;
	margin-bottom:7em;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 30px #ffea00;
}
.newsPanelHeader{
	background-color: black;
}
#header1{
	background-color: black;
}
#header2{
	background-color: black;
}
.arrow{
	float:right;
}
#logo{
	width:100%;
}

.panel-body{
	background-color: black;
}
.quiz-body{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}
.quiz-item {
	margin: auto;
	background-color: black;
	height: 30em;
	display: flex;
	flex-direction: row;
}
.image-temp{
	flex-grow: 3;
    height:32.5em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.image-temp > img {
	width: 85%;
	height: 100%;
}
.content-temp{
	flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
/* gimme panels */
.spotlight {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
}
.latest {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	flex-direction: column;
	margin-right: 2em;
	border: 1px solid #999;
	background-color: white;
	box-shadow: 0 0 12px #ffcc00;
}
.latest:last-child {
	margin-right: 0;
}
.latest h2 {
	background: #ffcc00;
	color: white;
	text-shadow: 1px 1px 0 #444;
	font-size: 1.7em;
	text-align: center;
	font-weight: 100;
	line-height: 45px;
	padding-left: 1.2em;
	margin-bottom: 0;
	margin-top: 0;
}
.latest h3 {
	font-size: 2em;
	margin: .4em 0;
	padding-left: 1.2rem;
}
.latest p {
	font-size: 1em;
	line-height: 1.6;
	padding: 0 1.2rem;
}
.latest img {
	width: 100%;
}
.call {
	margin-top: auto;
}
.spotlightContain{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}
.quiz-btn{
	background-color: #ffcc00;
	font-size: 1.5em;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.subclass-winner{
	color: white;
	font-size: 3em;
	margin-top: 10em;
}
.quiz-landing{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.5em;
}
.ql-image{
	    height: 55vh;
}
.ql-image > img{
	height: inherit;
}
.ql-content{
    color: white;
    text-align: center;
    width: 40em;
    font-size: 1.3em;
}
.landing-logo{
	margin-top: 5em;
	margin-bottom: 4em;
}
.roster-logo{
    flex: 1;
    display: flex;
    align-items: center;
}
.subclass-container{
    display: flex;
    margin-top: 8em;
    margin-left: 8em;
    margin-right: 8em;
    flex-direction: column;
}
.subclass-container > h1{
    text-align: center;
    font-size: 3em;
}
.subclass-img{
    margin-bottom: 1em;
    box-shadow: 0 0 20px #ffcc00;
    height: 30em;
    width: 100%;
}
.subclass-img > img {
  width: 100%;
    height: inherit;
}