/* temp background forever*/
body{
	background: url("../images/newsBG.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.quizContain{
	width:500px;
	height:500px;
	background-color: black;
}
.myQuiz{
	height:600px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.carouselP{
	width: 460px; 
	height: 345px;
	background-color: black;
}
.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 70%;
		margin-auto;
}
.carousel-inner > .item > p {
	width: 70%;
	margin: auto;
	background-color: black;
	height: 345px;
}
.answer:hover{
	background-color: #d9d9d9;
	color: black;
	cursor: pointer;
}
.answer{
	color: white;
	border-radius: 6px;
	border: 2px solid white;
	padding 10px;
	display: inline-block;
	font-size: 1.1em;
	width: 15em;
	position: relative;
	margin: 0em 1em 1em 0em;
}
.selected{
	background-color: #d9d9d9;
	color: black;
}
.notEnabled{
	visibility: hidden;
}
.myButton{
	display:flex;
	justify-content: center;
}


/* from original */
#navMenu{
	background-color:#ffea00;
	color:white;
	padding-top:.2em;
	padding-bottom:.2em;
	font-style:Sansation;

  }
  .nav > li{
	font-size:14pt;
  }
#header{
  margin-top:-10%;
}
.aboutUs{
    background: rgba(255, 255, 255, 0.25);
    border:none;
    text-align:center;
  }
  #hcHead{
  text-align:center;
  font-size:60pt;
  color: #ffea00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-style: Sansation;
  }