<div class="landing-container">
    <div class="main-twitter-container">
        <div class="twitter-container">
            <div class="twitter-feed">
                <h2 class="twitter-header-1">TWITTER</h2>
                <h2 class="twitter-header-2">FEED</h2>
                <a class="twitter-timeline" data-height="750" data-theme="dark" href="https://twitter.com/HeavenClan_">Tweets by HeavenClan_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <div class="heaven-news-container">
        <div class="news-header">
            <h2 class="news-header1">HEAVEN &nbsp;</h2>
            <h2 class="news-header2">CLAN NEWS</h2>
        </div>
        <div>uhhhh</div>
    </div>
</div>