 <div class="body2">
 <div><video autoplay loop name="Heaven Logo" src="../images/heaven-animation.mov" class="bg-img"></video></div>
</div>
 <div class="body">
<section class="spotlight">
<article class="latest news">
<h2>Featured News</h2>
<div class="img-wrap"><img src="../images/newsBG.jpg"  alt="responsive images community group"></div>
<h3>Generic drugs keep gaining market share</h3>
<p>Generic drugs, such as Marzipan Imoximile made from the Harvey Cactus flower (shown above) continue to gain in market share.</p>
<p class="call"><a href="http://responsiveimages.org/" title="Responsive images community group" class="button">Find out why!</a></p>
</article>
<article class="latest item">
<h2>Generic item of the week</h2>
<div class="img-wrap"><img src="../images/newsBG.jpg"  alt="responsive design fundamentals"></div>
<h3>Generic “city at night” shots remain popular</h3>
<p>For many ads and commercials, generic “city at night shots” remain amazingly effective. Come find out which cities offer the most generic shots.</p>
<p class="call"><a href="http://www.lynda.com/Web-Responsive-Design-tutorials/Responsive-Design-Fundamentals/104969-2.html" title="Responsive Design Fundamentals" class="button">Mash!</a></p>
</article>
<article class="latest facts">
<h2>Generic facts</h2>
<div class="img-wrap"><img src="../images/quiz-landing.jpg"  alt="the truth about HTML5"></div>
<h3>Beach yoga no more effective than generic yoga</h3>
<p>Despite the claims of many self-help gurus, beach yoga is no more effective at finding inner peace than generic yoga. An online study shows more.</p>
<p class="call"><a href="http://www.truthabouthtml5.com/" title="The truth about HTML5" class="button">Mash!</a></p>
</article>
</section>​
</div>