 <div class="body2">
 <div class="landing-logo"><img src="../images/landing-logo.jpg"></video></div>
</div>
 <div class="body">
<section class="spotlight">
<article class="latest">
<div class="img-wrap"><img src="../images/destinyBG.jpg"></div>
<h3>What's new with Heaven!</h3>
<p>Curious what Heaven has been up to lately? Check out the News page to stay up to date with what we've been doing!</p>
<p class="call"><a href="#news" class="button">Updates Here!</a></p>
</article>
<article class="latest">
<div class="img-wrap"><img src="../images/heavenlogo.jpg"></div>
<h3>Meet the Team!</h3>
<p>We have a lot of great people and great players in our squad. Be sure to check them all out and get to know us!</p>
<p class="call"><a href="#roster" class="button">Check Us Out!</a></p>
</article>
<article class="latest">
<div class="img-wrap"><img src="../images/quiz-landing.jpg"></div>
<h3>Subclass Picker</h3>
<p>Not sure what subclass to play? Want to see if what you are playing is right for you? Dive into our Subclass Picker quiz to see what subclass is right for you!</p>
<p class="call"><a href="#quiz-begin" class="button">Choose Now!</a></p>
</article>
</section>​
</div>

<script>
document.getElementById('logo-video').addEventListener('ended',myHandler,false);
function myHandler(e) {
    setTimeout(function(){
        document.getElementById('logo-video').play();
    }, 10000);
}
</script>