<div class="news-contain">
<div class="twitter-div">
<div><img src="../images/twitter-bird.jpg"></div>
<div>
<a class="twitter-timeline" data-height="750" href="https://twitter.com/HeavenClan_">Tweets by HeavenClan_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<div class="main-news">
<div id="logoDiv"><img src="../images/returning-members.jpg"></div>
<div class="news-row">
	<p>13 JAN 2017 | BY MUFASSAH <br></p>
    <p>
     	Heaven Clan is pleased to announce the addition of its two newest members Infincy and Contrasity. These two players are very talented and will bring a lot to our squad. 
     	We look forward to great things to come from them. Welcome to the family!
    </p>
    <div class="news-logo-div"><img src="../images/roster-logo.jpg" class="news-story-logo" onclick="heavenClick()"></div>
</div>

</div>
</div>