<div class="news-contain">
<div class="twitter-div">
<div><img src="../images/twitter-bird.jpg"></div>
<div>
<a class="twitter-timeline" data-height="750" href="https://twitter.com/HeavenClan_">Tweets by HeavenClan_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<div class="main-news">
<div id="logoDiv"><img src="../images/new-recruits.jpg"></div>
<div class="news-row">
	<p>13 JAN 2017 | BY MUFASSAH <br></p>
    <p>
     	Heaven Clan would like to welcome back two members in LegendMVL and Zae. After a short hiatus, these two players have found their way back home in our kingdom. 
     	We are very excited to be playing with them again and cannot wait for them to show everyone what they can bring. Welcome back guys!
    </p>
    <div class="news-logo-div"><img src="../images/roster-logo.jpg" class="news-story-logo" onclick="heavenClick()"></div>
</div>
</div>
</div>