<div ng-controller="NewsController">

    <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../images/temps/hunger.png"></a>
    <a class="carousel-item" href="#two!"><img src="../images/temps/warlock.png"></a>
    <a class="carousel-item" href="#three!"><img src="../images/temps/titan.png"></a>
    <a class="carousel-item" href="#four!"><img src="../images/temps/traveler.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../images/temps/class-image.jpg"></a>
  </div>
    <script>
    $(document).ready(function(){
      $('.carousel').carousel();
    });
</script>
    <div class="straight-news">
    <div class="news-news-container">
        <div class="news-header">
            <h2 class="news-header1">HEAVEN &nbsp;</h2>
            <h2 class="news-header2">NEWS</h2>
        </div>
        <div class="heaven-news-stories">
            <div class="side-stories">
                <div class="inside-stories">
                    <div class="news-story-img1">
                        <h3>news 1</h3>
                    </div>
                    <div class="news-story-img2">
                        <h3>news 2</h3>
                    </div>
                    <div class="news-story-img1">
                        <h3>news 3</h3>
                    </div>
                </div>
                <div class="inside-stories">
                    <div class="news-story-img3">
                        <h3>news 4</h3>
                    </div>
                    <div class="news-story-img4">
                        <h3>news 5</h3>
                    </div>
                    <div class="news-story-img3">
                        <h3>news 6</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


