<div class="news-contain">
<div class="twitter-div">
<div><img src="../images/twitter-bird.jpg"></div>
<div>
<a class="twitter-timeline" data-height="750" href="https://twitter.com/HeavenClan_">Tweets by HeavenClan_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<div class="main-news">
<div id="logoDiv"><img src="../images/news-banner.jpg"></div>
<div class="news-row">
    <p> this will be the content for the second news story.</p>
</div>
<div class="news-row">
    <p> more content here if we need room.</p>
</div>
</div>
</div>