<script>
 $(document).ready(function(){
 			console.log($(".myButton").css("enter"));
		console.log("enter");

	$(".answer").click(function(){
		console.log($(".myButton").css("margin-left"));
		if ($(".myButton").css("margin-left") == "280px"){
			console.log("we made it");
			$(".myButton").animate({
				opacity: '1.0',
				marginLeft: '-=20em'
			});
		}
	});
});
</script>
<div class="body quiz-body">
<div class="container" ng-contoller="QuizController">
<br>
<div id="myCarousel" class="carousel slide" data-interval="false">

<div class="carousel-inner" role="listbox">
	<div class="item {{ ($index == 0) ? 'active': '' }}"
		ng-repeat="question in myQuestions">
		<div class="quiz-item">
		<div class="image-temp"><img src="../images/{{question.image}}"></div>
		<div class="content-temp">
			<h3>{{ question.question }}</h3>
			<p
				class="answer {{ className === 'answer-' + $parent.$index + '-' + $index ? 'selected' : '' }}"
				ng-repeat="answer in myQuestions[$index].answers"
				ng-click="enable($parent.$index, $index)">{{ answer.text }}</p>
			</div>
			
	</div>
	
	</div>
	
	</div>
	</div>
	</div>
	</div>
	<div
		class="myButton" ng-if="(className === 'answer-' + qIndex + '-' + aIndex && qIndex < totalQuestions - 1)">
		<button class="btn" data-target="#myCarousel" role="button"
			data-slide="next" ng-click="disableMe()">
			Next Question<span class="glyphicon glyphicon-chevron-right"
			aria-hidden="true"></span>
		</button>
	</div>
	<div
		class="myButton" ng-if="(className === 'answer-' + qIndex + '-' + aIndex && qIndex === totalQuestions - 1)">
		<a class="btn" role="button" ng-click="submit()" href="{{ totalPoints > 8 ? '#quiz2' : '#' }}">
			Submit<span class="glyphicon glyphicon-chevron-right"
			aria-hidden="true"></span>
		</a>
	</div>