<script>
document.getElementById("content").innerHTML = 
'<div class="col-md-5 picCenter"><img src="heavenhayes.jpg" class="img-circle mainBio img-responsive"></div><div class="col-md-1"></div><div class="col-md-6" id="bio"><h1>EliteHayes</h1><p>My name is Zach and I am a 16 year old from beautiful Vancouver, Canada. I am the leader and founder of Heaven Clan. Stop by and drop a follow and feel free to stay and enjoy my stream! My primary focus is to entertain and interact with my viewers so everybody will have the best experience. Hopefully if you are reading this, I will see you very soon!</p><br><div class="col-md-6 linkage"><h2>Twitch:</h2><a href="https://www.twitch.tv/elitehayestv">elitehayestv</a></div><div class="col-md-6 linkage"> <h2>Twitter:</h2><a href="https://twitter.com/elitehayess">elitehayess</a></div>';
</script>
<div class="playerBox">
<div class="transbox displayBox">
    <h1>Meet the Team:</h1> 
    <div id="moofi"><img class="img-circle imgSelect" src="heavenhayes2.jpg" onclick="hayesClick()"><img class="img-circle imgSelect" src="snuggsAvi2.jpg" onclick="snuggsClick()">
    <img class="img-circle imgSelect" src="connTemp.jpg" id="conn" onclick="connClick()"><img class="img-circle imgSelect" src="mufassahAvi.JPG" onclick="mufassahClick()"><img class="img-circle imgSelect" src="legend2.jpg" onclick="legendClick()"><img class="img-circle imgSelect" src="genesis1.jpg" onclick="genesisClick()"><img class="img-circle imgSelect" src="cyntemp2.jpg" onclick="cynClick()"><img class="img-circle imgSelect img-responsive" src="hayestemp.JPG" onclick="zaeClick()"><img class="img-circle imgSelect img-responsive" src="qguard.jpg" onclick="misaClick()"></div>
</div>
</div>
<div class="contentBox">
<div class="transbox displayBox" id="content">
</div>
</div>
