<script>
$(document).ready(function(){
$('.menu-toggle').click( function(){
    $(this).find('i').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-up');
});
</script>
<div class="playerBox">
<div class="transbox displayBox">
    <h1>Meet the Team:</h1> 
    <div id="moofi"><img class="img-circle imgSelect" src="heavenhayes2.jpg" onclick="hayesClick()"><img class="img-circle imgSelect" src="snuggsAvi2.jpg" onclick="snuggsClick()">
    <img class="img-circle imgSelect" src="connTemp.jpg" id="conn" onclick="connClick()"><img class="img-circle imgSelect" src="mufassahAvi.JPG" onclick="mufassahClick()"><img class="img-circle imgSelect" src="legend2.jpg" onclick="legendClick()"><img class="img-circle imgSelect" src="genesis1.jpg" onclick="genesisClick()"><img class="img-circle imgSelect" src="cyntemp2.jpg" onclick="cynClick()"><img class="img-circle imgSelect img-responsive" src="hayestemp.JPG" onclick="zaeClick()"><img class="img-circle imgSelect img-responsive" src="qguard.jpg" onclick="misaClick()"></div>
</div>
</div>
<div class="contentBox">
<div class="transbox displayBox" id="content">
</div>
</div>
