  <script>
  document.getElementById("content").innerHTML = 
  '<div id="bio" class="transbox"><div class="picCenter"><img src="../images/heaven-roster.jpg" class="mainBio img-responsive"></div><div class="bio-div"><div class="bio-p"><p>This is the home for Heaven Clan, a strong competitive Destiny team full of a number of talented players. We compete with many of the top teams and players around the world and we are only just getting started. Join us in our path to eternal glory, or be smote.</p></div><div class="links-container"><div class="linkage"> <h2>Twitter:</h2><a href="https://twitter.com/HeavenClan_">Heaven Clan</a></div></div></div></div>';
    
    document.body.style.backgroundColor = "black";
    document.body.style.backgroundImage = "none";
  </script>
  <div class="body">
  <div class="playerBox">
  <div class="roster-logo"><img src="../images/roster-logo.jpg" class="imgSelect2" onclick="heavenClick()"></div>
  <div class="transbox displayBox" id="circle-box">
      <div class="playerSelect"><img class="img-circle imgSelect" src="../images/hayes-avi.jpg" onclick="hayesClick()"><img class="img-circle imgSelect" src="../images/snuggs-avi.jpg" onclick="snuggsClick()">
      <img class="img-circle imgSelect" src="../images/con-avi.jpg" id="conn" onclick="connClick()"><img class="img-circle imgSelect" src="mufassahAvi.JPG" onclick="mufassahClick()"><img class="img-circle imgSelect" src="genesis1.jpg" onclick="genesisClick()"><img class="img-circle imgSelect" src="../images/brian-avi.jpg" onclick="cynClick()"><img class="img-circle imgSelect" src="qguard.jpg" onclick="misaClick()"></div>
  </div>
  </div>
  <div class="contentBox">
  <div class="displayBox" id="content">
  </div>
  </div>
  </div>
