<div class="subclass-container">
<h1>The Subclass We Recommend For You Is...</h1>

<div class="subclass-img"><img src="../images/sunbreaker-titan.jpg"></div>
<div class="news-row">
    <p> Striker Titans are very fast, especially when you master skating and combo that with the shoulder charge ability. They also offer a lot of shutdown and zoning potential with Fist of Havoc and lightening grenades. Striker Titans play well with all guardians and are incredibly strong when the time is put in to master this subclass.</p>
</div>
<div class="news-row">
    <p> Subclass guide coming soon...</p>
</div>


</div>