<div class="news-contain">
<div class="twitter-div">
<a class="twitter-timeline" data-height="750" href="https://twitter.com/HeavenClan_">Tweets by HeavenClan_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="main-news">
<div id="logoDiv"><img src="../images/heavenLoogo.jpg"></div>
<div class="news-row">
    <div class="news-img news1"><img src="../images/newsBG.jpg"></div>
    <div class="news-img news2"><img src="../images/newsBG.jpg"></div>
</div>
<div class="news-row">
    <div class="news-img news1"><img src="../images/newsBG.jpg"></div>
    <div class="news-img news2"><img src="../images/newsBG.jpg"></div>
</div>
</div>
</div>