<div class="news-contain">
<div class="twitter-div">
<div><img src="../images/twitter-bird.jpg"></div>
<div>
<a class="twitter-timeline" data-height="750" href="https://twitter.com/HeavenClan_">Tweets by HeavenClan_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<div class="main-news">
<div id="logoDiv"><img src="../images/news-banner.jpg"></div>
<div class="news-row">
    <div class="news-img news1"><a href="#"></a></div>
    <div class="news-img news2"></div>
</div>
<div class="news-row">
    <div class="news-img news1"></div>
    <div class="news-img news2"></div>
</div>
</div>
</div>